/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width: 100%; height: 100%; }
body                            { padding: 0; margin: 0; font-size: 100%; font-family:"open_sansregular"; background: #ffffff; color: #000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,summary,input,textarea {
	padding: 0;
	margin: 0;
	outline: none;
	list-style: none;
}
select, input, textarea        { font-size: 100%; vertical-align: middle; }
textarea                       { vertical-align: top; }
:focus                         { outline: none; }
input[type=submit]             { cursor: pointer; }
img, fieldset                  { border: 0; }
table                          { border-collapse: collapse; border-spacing: 0; }
a:link, a:visited              { font: 100% Tahoma, sans-serif; color: #000; text-decoration: none; }
a:hover                        { text-decoration: none; }
/*----------------------------------------------------------------------------------*/
/*--------------------------------------FONTS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff'),
				 url('../fonts/alexbrush-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
				 url('../fonts/montserrat-light-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*--------------------------------------WRAP----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap {
	background: #4c4c4c;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
header {
	background: linear-gradient(to bottom, #363636, #262626);
	border-bottom: 4px solid #262626;
	border-top: 0px;
	border-image: url('../images/head-bg.jpg') 1;
}
header h1 {
	width: 250px;
	margin: 0 auto;
	padding: 0.25em 0em;
	text-align: center;
	overflow: hidden;
}
header h1 a .logo-name {
	position: relative;
	display: block;
	font-family: 'alex_brushregular';
	font-size: 1.5em;
	color: #51b4e6;
	margin-bottom: -28px;
}
header h1 a .logo-title {
	font-family: 'montserratlight';
	font-size: 0.75em;
	text-transform: uppercase;
	color: #8e8e8e;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------------CONTENT---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
	min-height: calc(100vh - 20px);
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	padding: 1em 0em;
}
.content .projects-list {
	text-align: center;
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.content .projects-list li {
	background: #232323;
	width: 300px;
	margin: 10px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.content .projects-list li:hover {
	box-shadow: 0 0 10px rgba(81,180,230,0.5);
}
.content .projects-list li a img {
	width: 100%;
	height: 165px;
}
.content .projects-list li a strong {
	display: block;
	color: #8e8e8e;
	margin: 12px 0px;
}
.content .projects-list li a hr {
	width: 10%;
	background: #51b4e6;
	border: none;
	height: 1px;
}
.content .projects-list li a span {
	display: block;
	font-size: 0.875em;
	color: #8e8e8e;
	margin: 8px 0px 14px 0px;
}
@media screen and (max-width: 959px) {
	.content {
		max-width: 640px;
	}
}
@media screen and (max-width: 639px) {
	.content .projects-list {
	  justify-content: center;
	}
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
footer {
	background: linear-gradient(to bottom, #363636, #262626);
	height: 20px;
}
